body {
    background-color: rgb(24, 24, 24);
    min-width: 500px;
    margin-left: 280px;
    margin-right: 250px;
    margin-top: 30px;
}


@media (max-width: 700px) {
    .side_bar_container {
        display: none;
    }
    .main-area {
        margin-left: 0px;
    }
    .posts-container {
        margin-left: 0px;
    }
    body {
        margin-left: 0px;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .side_bar_container {
        width: 90px;
    }
    .main-page-text,
    .search-text,
    .message-text,
    .profile-text,
    .instagram-text,
    .create-text {
        display: none;
    }
    .main_page,
    .search,
    .messeges,
    .profile,
    .create {
        width: 70px;
        justify-content: center;
        border-radius: 10px;
    }

    body {
        margin-left: 100px;
    }
}

@media (min-width: 901px) and (max-width: 1270px) {
    .instagram-image {
        display: none;
    }
}


p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

button:hover {
    cursor: pointer;
}