{% load static %}
<section id="post-comments" data-hidden="true" class='comments-container-main'>
    <div class='post-image-container'>
        <img class='post-image' src="{% static 'main_view/images/donut_profile_picture.jpeg' %}">
    </div>
    <div class='comments-section-container'>
        <div class='user-profile-container-upper'>
            <img class='user-profile-picture' src="{% static 'main_view/images/donut_profile_picture.jpeg' %}">
            <p class='user-nickname'>Sth</p>
        </div>

        <div class='general-comments-container'>
            <div class='user-post-description'>
                <div class='user-profile-container-under'>
                    <img class='user-profile-picture' src="{% static 'main_view/images/donut_profile_picture.jpeg' %}">
                    <p class='post-description'> <span class='user-nickname'>Sth</span> Hello hello hello hello hello hello hello  hello hello hello hello hello hello  hello hello hello hello hello hello</p>
                </div>
                <div class='general-info'>
                    <div class='post-tags'>
                        <p class='single-post-tag'>#ilovedonut</p>
                    </div>
                    <p class='publish-time'>
                        2 days ago
                    </p>
                </div>
            </div>

            <div class='comments-container'>
                <div class='single-comment'>
                    <img class='user-profile-picture' src="{% static 'main_view/images/donut_profile_picture.jpeg' %}">
                    <div class='general-comment-container'>
                        <div class='nickanme-comment-container'>
                            <p class='user-comment'><span class='user-nickname'>Coochie man</span> i am a coochie man i am a coochie man i am a coochie man i am a coochie man i am a coochie man</p>
                        </div>
                        <div class='comment-description'>
                            <p class='comment-publish-time'>1 day ago</p>
                            <p class='comment-likes-counter'>Liked 1 234 times</p>
                        </div>
                    </div>
                </div>
                <div class='single-comment'>
                    <img class='user-profile-picture' src="{% static 'main_view/images/donut_profile_picture.jpeg' %}">
                    <div class='general-comment-container'>
                        <div class='nickanme-comment-container'>
                            <p class='user-comment'><span class='user-nickname'>Coochie man</span> i am a coochie man i am a coochie man i am a coochie man i am a coochie man i am a coochie man</p>
                        </div>
                        <div class='comment-description'>
                            <p class='comment-publish-time'>1 day ago</p>
                            <p class='comment-likes-counter'>Liked 1 234 times</p>
                        </div>
                    </div>
                </div>
                <div class='single-comment'>
                    <img class='user-profile-picture' src="{% static 'main_view/images/donut_profile_picture.jpeg' %}">
                    <div class='general-comment-container'>
                        <div class='nickanme-comment-container'>
                            <p class='user-comment'><span class='user-nickname'>Coochie man</span> i am a coochie man i am a coochie man i am a coochie man i am a coochie man i am a coochie man</p>
                        </div>
                        <div class='comment-description'>
                            <p class='comment-publish-time'>1 day ago</p>
                            <p class='comment-likes-counter'>Liked 1 234 times</p>
                        </div>
                    </div>
                </div>
                <div class='single-comment'>
                    <img class='user-profile-picture' src="{% static 'main_view/images/donut_profile_picture.jpeg' %}">
                    <div class='general-comment-container'>
                        <div class='nickanme-comment-container'>
                            <p class='user-comment'><span class='user-nickname'>Coochie man</span> i am a coochie man i am a coochie man i am a coochie man i am a coochie man i am a coochie man</p>
                        </div>
                        <div class='comment-description'>
                            <p class='comment-publish-time'>1 day ago</p>
                            <p class='comment-likes-counter'>Liked 1 234 times</p>
                        </div>
                    </div>
                </div>
                <div class='single-comment'>
                    <img class='user-profile-picture' src="{% static 'main_view/images/donut_profile_picture.jpeg' %}">
                    <div class='general-comment-container'>
                        <div class='nickanme-comment-container'>
                            <p class='user-comment'><span class='user-nickname'>Coochie man</span> i am a coochie man i am a coochie man i am a coochie man i am a coochie man i am a coochie man</p>
                        </div>
                        <div class='comment-description'>
                            <p class='comment-publish-time'>1 day ago</p>
                            <p class='comment-likes-counter'>Liked 1 234 times</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='under-comments-section'>
            <div class='like-comment-share-container'>
                <div class="like-share-comment-container">
                    <div class="underpost-image-container">
                        <img class='like' src="static/main_view/images/like.svg">
                    </div>
                    <div class="underpost-image-container">
                        <img class='comment' src="static/main_view/images/comment.svg">
                    </div>
                    <div class="underpost-image-container">
                        <img class='share' src="static/main_view/images/share.svg">
                    </div>
                </div>
                <div class="underpost-image-container">
                    <img class='save' src="static/main_view/images/bookmark.svg">
                </div>
            </div>

            <div class='likes-publish-time-container'>
                <p class='post-likes-counter'>1 234 Likes</p>
                <p class='post-publish-time'>2 days ago</p>
            </div>

            <div class='publish-comment-container'>
                <textarea class="add-comment" placeholder="Add comment..."></textarea>
                <p class="publish-comment-button">Publish</p>
            </div>
        </div>
    </div>
</section>
